// ============================================== NOVUMWARE VARIABLE OVERRIDES ===============================================
$color-accent:	#955B00;

$panel-padding: 20px;

// ============================================== NOVUMWARE ===============================================
@import '../../../vendor/markisacat/novumware-module/public/stylesheets/scss/nwMain.scss';


// ============================================== PROJECT ===============================================


// ============================================== LAYOUT ===============================================
body { padding-top:	$navbar-height; }

header.navbar { @include	navbar-type-fixed-top; }

ul.nav.nav-auth {
	display:	inline-block;
	float:		right;
	margin:		$margin-small $margin-small 0px 0px;
}


// ============================================== SURVEY ===============================================
#survey {
	text-align:		center;
	padding-top:	30px;
	
	section {
		display:	inline-block;
	}

	form {
		text-align:	center;
	
		label {
			font-weight:	normal;
		}

		ul {
			text-align:	left;
			li {
				margin:	$padding-small 0px;
			}
		}

		button {
			margin-top:	$margin-large;
		}
	}

	.selectedAnswerText {
		&.alert {
			padding:	$padding-small;
		}
		
		@include	tablet-andLarger {
			position:		absolute;
			width:			210px;
			left:			-230px;
			text-align:		right;
			padding-right:	$padding-small;
		}
	}
	
	.submissionStats {
	display:	inline-block;
	text-align:	left;

	li {
		white-space:	nowrap;
	}

	.count {
		width:		30px;
		display:	inline-block;
		text-align:	right;
	}

	.fullBar {
		background-color:	#CECBD2;
		width:				150px;
		height:				20px;
		display:			inline-block;
		vertical-align:		middle;
		border:				1px;
		border-radius:		2px;
		overflow:			hidden;
		margin:				0px $margin-small;
		position:			relative;
		text-align:			center;
	}

	.percentBar {
		background-color:	#F4BB5F;
		position:			absolute;
		left:				0px;
		top:				0px;
		bottom:				0px;
	}

	.percentText {
		font-size:		0.8em;
		margin-bottom:	3px;
		display:		inline-block;
		vertical-align:	middle;
	}
}
}


// ============================================== MODULES ===============================================
